*{
	margin: 0;
	padding: 0;
}
body{
	background-color: gray;
}

#particles-js{
	background-image: url(../images/hero-01.jpg);
	background-size: cover;
	background-position: center;
	height: 785px;
}
.logo{
	margin-top: 25px;
	font-size: 28px;
	text-transform: uppercase;
}
.welcome{
	margin-left: 5%;
	position: absolute;
	color: #fff;
	font-family: sans-serif;
}
.welcome h1{
	margin-top: 220px;
	letter-spacing: 2px;
	font-size: 42px;
	text-transform: uppercase;
}
.welcome p{
	font-size: 16px;
	margin-top: 25px;
	font-family: monospace;
}
.welcome a{
	background-color: #dccc1d;
	color: black;
	text-decoration: none;
	letter-spacing: 2px;
	position: fixed;
	margin-top: 30px;
	padding: 15px 30px;
}
/*menu*/
html {
  font-family: 'Roboto Condensed', sans-serif;
  }
  #mainnav {
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;
    
  }
  #mainnav li {
  margin: 55px 0;
  left: -550px;
  position: relative;
  display: none;
    
  }
  #mainnav a {
  color: white;   
  text-decoration: none;
  font-size: 1.4em;
  } 
  ul li{
      list-style: none;
      margin-top: -50px;
      
  }
  .hamb {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2.5em;
    z-index: 1;
  }
  .hamb a {
    color: #fff;
    text-decoration: none;
  }
  html, body {
    height: 100%;
  }
  #hero {
    font-size: 5em;
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 42%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #bubble {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    display: none;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
  } 
  .gap{
       
      color: white;
      margin-top: 100px;
      width: 200px;      
  }
  
  h1 span{
      font-size: 90px;
      letter-spacing: 4;
      margin-left: -30px;
      color: orange;
  }
  /*/////////////////////////////////////////
Hero
////////////////////////////////////////*/

#hero h1 {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    line-height: 1.6;
    color: #ffffff; 
}

.hero-container {
    position: relative;
    transition: all .2s ease-in-out;
}
